{% extends "admin_app/admin_layout.html" %}
{% block content %}
<form novalidate class="needs-validation" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3 {% if field.errors %}is-invalid{% else %}is-valid{% endif %}">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="invalid-feedback">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}

    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
</form>


{% endblock content %}
