{% extends "admin_app/admin_layout.html" %}

{% block header %}
<link rel="stylesheet" href="admin_app/navbar_ekle.css">
<title>Erk | Blog Menü Ekle</title>
{% endblock header %}
{% block content %}



<div class="tablo" style='margin-top:15px;'>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Başlık</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Tarih</th>
                <th scope="col">Link</th>
                <th scope="col">Tarih</th>
                
                <th scope="col">Kategori</th>
                <th scope="col">Durum</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for a in portfoy_all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{a.title}}</td>
                <td>{{a.description}}</td>
                <td>{{a.date}}</td>
                <td>{{a.slug}}</td>
                <td>{{a.date}}</td>
                <td>{{a.categories}}</td>


                {% if a.isActive %}
                <td class='bg-success text-white'>Aktif</td>
                {% else %}
                <td class='bg-danger text-white'>Pasif</td>
                {% endif %}

                <td><a href="{% url 'portfoy_guncelle' a.id %}">Düzenle</a></td>
                <td><a href="{% url 'portfoy_sil' a.id %}">Sil</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}